# Test data for local storage
test-data

# Dependency directories
node_modules

# WebStorm configs file
.idea

# OSX metadata file
.DS_Store

# Configuration files
config/*.json

Test files for cert-helper
cert-tools/test