/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Real styles start here */

body {
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 16px 32px;
  color: #333;
  font-size: 14px;
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.3;
  margin-bottom: 14px;
}

h1 {
  margin-top: 20px;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 12px;
}

h2 {
  margin-top: 20px;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 12px;
}

h3 {
  margin-top: 12px;
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 12px;
}

ul.group-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
ul.group-list li {
  display: inline-block;
  padding: 1px 6px;
  margin-left: 6px;
  margin-bottom: 2px;
  background-color: #e6e6e6;
  border-radius: 3px;
}
ul.group-list li.warning {
  background-color: #f2dede;
}

.edit {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 11px;
}
.edit:hover {
  text-decoration: underline;
}

.inline-link {
  display: inline;
  padding: 0 8px;
}

ul.group-list li.edit {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
}
ul.group-list li.edit:hover {
  text-decoration: underline;
}

table.standard {
  border-collapse: separate;
  border-spacing: 0;
  font-family: monospace;
  line-height: 1.2;
}

table.standard thead td {
  font-weight: bold;
  border-top: none;
  border-bottom: none;
  font-family: sans-serif;
  font-size: 80%;
  padding: 4px;
}

table.standard tbody td {
  border-bottom: 1px solid #e6e6e6;
  padding: 4px;
}
table.standard tbody tr:first-of-type td {
  border-top: 1px solid #e6e6e6
}
form {
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin-bottom: 20px;
}
form h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
}
form label.standalone {
  margin-top: 12px;
  margin-bottom: 6px;
}

form label .caption {
  display: block;
  font-size: 80%;
  color: #666;
  padding-bottom: 6px;
  padding-top: 12px;
}
form label.standalone .caption {
  padding: 0;
}

form label.for-file {
  padding: 0;
}

input[type=text] {
  font-family: monospace;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  max-width: 400px;
}
textarea {
  font-family: monospace;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  max-width: 400px;
}
.hidden {
  display: none;
}
.dialog-button-bar {
  text-align: right;
  padding: 8px 0 0 0;
}
.button-bar {
  padding: 12px 0;
}
.groups-checklist label {
  font-family: monospace;
  display: inline-block;
  margin: 0 8px 12px 0;
}
.role-radio label {
  display: inline-block;
  margin: 0 8px 12px 0;
}

.dialog-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.dialog-background .dialog-body {
  background-color: white;
  margin: 24px auto 0;
  left: 0;
  right: 0;
  max-width: 420px;
}

button {
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  border: 0;
  background-color: dodgerblue;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 32px 10px;
  line-height: 19px;
  min-height: 36px;
}

button::-moz-focus-inner {
  border: 0;
}

button.link {
  border: 0;
  background: none;
  width: auto;
  text-transform: none;
  color: dodgerblue;
}

button.link:hover {
  text-decoration: underline;
}

.site-header {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  margin: 0 -16px;
}

.site-header .site-name {
  font-size: 28px;
}

.site-header .auth-user {
  float: right;
  padding-top: 6px;
}

form.auto-register, div.auto-register {
  max-width: 380px;
}

div.auto-register form {
  padding: 0;
  border: none;
}

div.auto-register .button-bar {
  margin-top: 24px;
}